.toolbarBack{
    --background: rgb(250, 250, 250);
}

.logo img{
    width: 90%;
    margin: 0 auto;
    display: block;
}

.titulo{
    font-size: 18px;
    margin-bottom: 25px;
}

.input{
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    width: fit-content;
    margin: 0px auto;
    padding: 0 0 0 15px !important;
    margin-bottom: 15px;

}

.boton:first-of-type{
    margin-top: 20px;
}

.boton{
    width: 65%;
    margin: 0 auto 10px auto;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: normal;
}



