<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="logo">
        <img src="../../assets/img/EstoCuadro.png" alt="logo Estor">
      </div>
      <div class="registro">
        <h2 text-center class="titulo">Ingresa tu información</h2>
        <ion-input [(ngModel)]='nombre' class="input" placeholder="Nombre(s)" type='text'></ion-input>
        <ion-input [(ngModel)]='apellidoPat' class="input" placeholder="Apellido Paterno" type='text'></ion-input>
        <ion-input [(ngModel)]='apellidoMat' class="input" placeholder="Apellido Materno" type='text'></ion-input>
        <ion-input [(ngModel)]='numero' class="input" placeholder="Número Telefónico" type='tel'></ion-input>
        <ion-input [(ngModel)]='correo' class="input" placeholder="Correo Electronico" type='email'></ion-input>
        <div class="pass">
          <ion-input [(ngModel)]='password' [type]="passType" class="input" placeholder="Contraseña" type='password'></ion-input>
          <ion-button class="eye" color="light" (click)="cambiarIcono(1)">
              <ion-icon slot="icon-only" name="{{icono}}"></ion-icon>
          </ion-button>
        </div>
        <div class="pass">
          <ion-input [(ngModel)]='passVerficada' [type]="passType2" class="input" placeholder="Repetir contraseña" type='password' (ionBlur)='contrasena()'></ion-input>
          <ion-button class="eye" color="light" (click)="cambiarIcono(2)">
              <ion-icon slot="icon-only" name="{{icono2}}"></ion-icon>
          </ion-button>
        </div>
        <ion-button size='small' expand="full" fill="clear" class="boton" (click)='registrarse()'>Registrarme</ion-button>
         </div>
</ion-content>
