<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Soporte Técnico</ion-title>
    <ion-buttons slot="end">
        <ion-icon class="iconbuscar" name='search' (click)="goBuscar()"></ion-icon>
        <ion-icon class="iconcarrito" name='cart' (click)="goCarrito()"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
    <p class="text1">¿Estas teniendo problemas con tu app?</p>
    <!--<p class="text2">soporte@elestor.mx</p>-->
    <img class="perfil" src="/assets/img/perfil.jpg" alt="">
    <p class="text3">¡Sera un placer atenderte!</p>

    <ion-input [(ngModel)]='nombre' class="input" placeholder="Nombre" type="text"></ion-input>
    <ion-input [(ngModel)]='telefono' class="input" placeholder="Teléfono" type="number"></ion-input>
    <ion-input [(ngModel)]='correo' class="input" placeholder="Email" type="email"></ion-input>
    <ion-textarea rows="4" [(ngModel)]='consulta' class="input" placeholder="Comentarios..." type="text"></ion-textarea>
    <ion-button expand="full" class="boton" (click)="Contactar()" >Enviar</ion-button>

   <!-- <ion-fab vertical="bottom" class="fab" horizontal="start" slot="fixed">
      <ion-fab-button class="faBoton" size="large" (click)="goCarrito()" translucent>
          <ion-icon class="iconoFab" name='cart'></ion-icon>
      </ion-fab-button>
  </ion-fab>-->
</ion-content>
