.text1{
    text-align: center;
    font-size: 1.3rem;
}
.text2{
    text-align: center;
    font-size: 1.3rem;
}
.perfil{
    width: 65%;
    margin: 0 auto;
    display: block;
}
.text3{
    text-align: center;
    font-size: 1.3rem;
}