<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
    <p class="text1">¿Estas teniendo problremas con tu app?</p>
    <p class="text2">soporte@elestor.mx</p>
    <img class="perfil" src="/assets/img/perfil.jpg" alt="">
    <p class="text3">Sera un placer atenderte</p>

</ion-content>
