<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
        <ion-icon class="iconbuscar" name='search' (click)="goBuscar()"></ion-icon>
        <ion-icon class="iconcarrito" name='cart' (click)="goCarrito()"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>


  <div class="perfil">
    <img class='fotoPerfil' id='perfil' [src]="fotografia"  onError= "this.src='/assets/img/default.png'"  alt="Foto de perfil"> 
    <div class="camara">
      <ion-button class="botonCamara" (click)='presentActionSheet()'>
        <ion-icon class="botonIcono" slot="icon-only" name='camera'></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="informacion">

      <ion-input position="floating" class="input" [(ngModel)]='usuario.nombre' id="1" placeholder="Nombre (s)" type='text'></ion-input>
      <ion-input  class="input" [(ngModel)]='usuario.apellidoPat' id = "2" placeholder="Apellido Paterno" type='text'></ion-input>
      <ion-input  class="input" [(ngModel)]='usuario.apellidoMat' id="3" placeholder="Apellido Materno" type='text'></ion-input>
      <ion-input disabled  class="input" [(ngModel)]='usuario.email' placeholder="Correo" type='email'></ion-input>
      <ion-input disabled class="input" [(ngModel)]='usuario.telefono' placeholder="Número Telefónico" type='phone'></ion-input>
  </div>



  <!-- <div class="Envio">
      <h4 class='tituloEnvio'>Domicilio Más Actual</h4>
      <ion-input  class="input" [(ngModel)]='usuario.calle' placeholder="Colonia" type='text'></ion-input>
      <div class="opciones">
        <ion-button fill="outline" color="dark" class="ubicacion"> 
          <ion-icon slot="start" name="pin"></ion-icon>
          Escoger Ubicación
        </ion-button>
        <ion-button fill="outline" color="dark" class="ubicacion">
          <ion-icon slot="start" name="navigate"></ion-icon>
          Ubicación Actual
        </ion-button>
      </div>
  </div> -->

  <!-- <div class="Envio">
    <h4 class='tituloEnvio'>Datos fiscales</h4>
    <ion-input  class="input" [(ngModel)]='usuario.razonSocial' placeholder="Razón Social" type='text'></ion-input>
    <ion-input  class="input" [(ngModel)]='usuario.rfc' placeholder="RFC" type='text'></ion-input>
</div> -->

    <ion-button size='default' expand="block" class="btnUpdate" (click)='validar()'>Guardar Cambios</ion-button>

  <!--  <ion-fab vertical="bottom" class="fab" horizontal="start" slot="fixed">
      <ion-fab-button class="faBoton" size="large" (click)="goCarrito()" translucent>
          <ion-icon class="iconoFab" name='cart'></ion-icon>
      </ion-fab-button>
  </ion-fab>-->
  
</ion-content>
