.perfil{
    margin: 30px 0 30px 0;
    position: relative;
    overflow: hidden;
}

.fotoPerfil{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    border-radius: 50%;
}

.camara{
    position: absolute;
    bottom: 0;
    left: 60%;
}

.botonCamara{
    --background: #d00b00;
    --background-activated: rgb(226, 2, 2);
    --background-focused: rgb(255, 2, 2);
    --border-radius: 50%;
    height: 60px;
    width: 60px;
    box-sizing: content-box;
}


.titulo{
    margin: 0;
    text-align: center;
}

.tituloEnvio{
    margin: 40px 0 20px 20px;
}

.select{
    margin: 0 auto;
    width: 100%;
}

.actualizar{
    margin: 0 auto;
    width: 65%;
    margin-top: 20px;
}
