img {
    width: 30%;
    margin-top: 3px;
    align-content: center;
    //margin-right: 50%;
}

.iconcarrito{
    width: 25px;
    height: 25px;
    color:#6ba1d3;
    
    //margin-right: 10px;
}

.iconbuscar{
    width: 25px;
    height: 25px;
    color:#6ba1d3;
    
margin-right: 5px;
}