<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='toogleMenu()'>
        <ion-icon slot="icon-only" name='menu' class="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button >
            <img src="/assets/img/cash.png" alt="dinero" class='dinero'>
          </ion-button>
      </ion-buttons>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
    
  </ion-toolbar>
</ion-header>
