<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='toogleMenu()'>
        <ion-icon slot="icon-only" name='menu' class="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-buttons slot="end">
        <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
        <ion-icon class="iconbuscar" name='search' slot = "end" (click)="goBuscar()"></ion-icon>
        <ion-icon class="iconcarrito" name='cart' slot = "end" (click)="goCarrito()" ></ion-icon>
        <ion-button >
            <!-- <img src="/assets/img/cash.png" alt="dinero" class='dinero'> -->
          </ion-button>

         <!--  <ion-fab vertical="bottom" class="fab" horizontal="end" slot="fixed">
              <ion-fab-button class="faBoton" size="large" (click)="goCarrito()" translucent>
                  <ion-icon class="iconoFab" name='cart'></ion-icon>
              </ion-fab-button>
          </ion-fab>-->
      </ion-buttons> 
    
  </ion-toolbar>
</ion-header>
