<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="logo">
        <img src="../../assets/img/EstoCuadro.png" alt="logo Estor">
      </div>
      <div class="registro">
        <h2 text-center class="titulo">Ingresa tu información</h2>
        <ion-input (keyup)='enter($event)' [(ngModel)]='correo' class="input" placeholder="Correo electronico" type='email'></ion-input>
        <ion-input (keyup)='enter($event)' [(ngModel)]='password' class="input" placeholder="Contraseña" type='password'></ion-input>
        <ion-button size='small' expand="full" fill="clear" class="boton" (click)='iniciar()'>Entrar</ion-button>
      </div>
</ion-content>
