/*--background	Background of the popover
--box-shadow	Box shadow of the popover
--height	Height of the popover
--max-height	Maximum height of the popover
--max-width	Maximum width of the popover
--min-height	Minimum height of the popover
--min-width	Minimum width of the popover
--width	Width of the popover*/


label {font-weight:bold;}

.info {
   margin-left: 10px;
   color: black;
   margin-top: 5px;
}