<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" >
      <ion-back-button (click)='salir()'></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="data principal" *ngIf="carrito.length != 0" *ngFor="let producto of carrito">  -->
        <div class="data principal" *ngFor="let item of groupArr">    

        <div class="contenidoLocal" >
         <h6 class=tituloPlatillo (click)="accion1()" >Negocio: {{item.FK_idNegocio}}</h6>
         
         <ion-button (click)="goCarrito(item.FK_idNegocio)"> Ver Detalles </ion-button> 
         <!-- <ion-thumbnail slot="start" class="thumbnail">
          <img src="tests.png" onError= "this.src='/assets/img/default_negocio.png'" (click)='menu(local.id_negocio)' >
        </ion-thumbnail> -->
        </div>
        
            <ion-label>
                <ion-card *ngIf="ocultar1" >
                         <ul class="my-nav">
                         <div class="contenidoPlatillo" *ngFor="let value of item.groupItem" (click)="editarProducto(producto.id_producto)">
                  
                            <li> <h6 class=tituloPlatillo>{{value.nombre}}</h6> 
                        <p class="precio"> Cantidad: {{value.cantidadCarrito}} X ${{value.precioCarrito}} MXN</p></li>
                      </div>  
                    </ul>     
         
               </ion-card>
              </ion-label>
      </div>
    
  
</ion-content>
