.thumbnail{
    width: 90px;
    height: 90px;
}

.contenidoPlatillo{
    width: 100%;
}

.tituloPlatillo{
    font-size: 16px;
}

p{
    font-size: 13px;
    margin-top: 5px;
}

.my-nav {
    list-style-type: disc;
  }