<ion-header>
  <ion-toolbar>
    <ion-title>pre-cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="data principal" *ngIf="carrito.length != 0" *ngFor="let producto of carrito">  -->
        <div class="data principal" *ngFor="let item of groupArr">    

            <h6 class=tituloPlatillo (click)="accion1()" >Titulo del Negocio: {{item.FK_idNegocio}}</h6>
            
            <ion-label>
                <ion-card *ngIf="ocultar1" >
                              <!-- <ion-ripple-effect></ion-ripple-effect>  -->
                        <!-- <ion-thumbnail slot="start" class="thumbnail">
                            <img src="/assets/img/enchiladas.jpg" onError= "this.src='/assets/img/default_negocio.png'">
                         </ion-thumbnail>           -->
                         <ul class="my-nav">
                         <div class="contenidoPlatillo" *ngFor="let value of item.groupItem" (click)="editarProducto(producto.id_producto)">
                  
                            <li> <h6 class=tituloPlatillo>{{value.nombre}}</h6> 
                        <p class="precio"> Cantidad: {{value.cantidadCarrito}} X ${{value.precioCarrito}} MXN</p></li>
                      </div>  
                    </ul>     
         
                <ion-button (click)="goCarrito()"> Pagar </ion-button> 
               </ion-card>
              </ion-label>
      </div>
    
  
</ion-content>
