.thumbnail{
    width: 75px;
    height: 75px;
}

.contenidoPlatillo{
    width: 100%;
}

.tituloPlatillo{
    font-size: 17px;
    margin-left: 8px;
    font-weight: bold;
}

p{
    font-size: 13px;
    margin-top: 5px;
}

.my-nav {
    list-style-type: disc;
  }
  .contenidoLocal{
    width: 100%;
}

.tituloVacio{
    margin-top: 20px;
    display: inline-block;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
    text-align: center;
    padding: 0 30px;
                       
}
.tituloName{
    font-weight: bold;
    font-size: 15px;
}

.tituloLocal{
    font-size: 14px;
}

.btnBuy{
    text-align:right;
    margin-top: 3px;
    margin-left: 25px;
    
}

.precio{
    margin-bottom: 3px;
    //margin-left: 3px;
    margin-top: 10px;
    color: rgb(149, 5, 5);
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
   // background-color: #fff;
   // color: #444;
  }