<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" >
      <ion-back-button (click)='salir()'></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="data principal" *ngIf="carrito.length != 0" *ngFor="let producto of carrito">  -->
        <div class="data principal" *ngFor="let item of groupArr">    

        <div class="contenidoLocal" >
         <h6 class=tituloPlatillo (click)="accion1()" >Negocio: {{item.FK_idNegocio}}
            <ion-icon name="arrow-dropup" (click)="toggle()" *ngIf="!visible"></ion-icon> 
            <ion-icon name="arrow-dropdown" (click)="toggle()" *ngIf="visible"></ion-icon> 
         </h6>
         
         
        </div>
  
                <ion-card *ngIf="ocultar1" >
                    <ion-item class="contenidoPlatillo" *ngFor="let value of item.groupItem" (click)="editarProducto(producto.id_producto)">
                    <ion-thumbnail slot="start" class="thumbnail">
                        <img src="tests.png" onError= "this.src='/assets/img/default_negocio.png'" (click)="editarProducto(producto.id_producto)" >
                      </ion-thumbnail>
                      <div class="contenidoPlatillo" (click)='menu(item.FK_idNegocio)'>
                          <ion-label>
                            <h6 class="tituloLocal">{{value.nombre}}</h6>
                            <h6 class="tituloLocal">{{value.descripcion}}</h6>
                            <p> Cantidad: {{value.cantidadCarrito}} X ${{value.precioCarrito}} MXN</p>
                          </ion-label>
        <!-- <div class="contenidoPlatillo" *ngFor="let value of item.groupItem" (click)="editarProducto(producto.id_producto)">-->
                      </div>      
                  </ion-item>
                  <div class="wrapper">
                    <div class="precio"  style="float: left; width: 220px;" >
                       <p class="precio">Costo de envio: $100.00</p>
                       <p class="precio">Total a pagar: $300.00</p>
                     </div>
                   <div class="btnBuy"  style="float: right; width: 220px;" >
                      <ion-button (click)="goCarrito(item.FK_idNegocio)" class ="btnBuy" size="small" > Comprar </ion-button>
                   </div>
                </div>
               </ion-card>
              
      </div>



      <div class="nada principal" *ngIf="carrito.length == 0">
        <ion-label class="tituloVacio">
          Aún no hay productos en el carrito
        </ion-label>
  
    </div>
  
</ion-content>
