<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Tarjeta</ion-title>
    <ion-buttons slot="end">
        <ion-icon class="iconbuscar" name='search' (click)="goBuscar()"></ion-icon>
        <ion-icon class="iconcarrito" name='cart' (click)="goCarrito()"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--<img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>-->
    
    <div class="backTarjeta">
        <div class="contenTarjeta">
          <div class="esfera"></div>
          <div class="esfera2"></div>
          <img class="chip" src="/assets/img/chip.png" alt="" srcset="">
          <div class="masterCard">
            <div class="rojo"></div>
            <div class="amarillo"></div>
          </div>
          <div class="infoTarjeta">
              <div class="numTarjeta">
                  <span class="cuarteto">1234</span>
                  <span class="cuarteto">****</span>
                  <span class="cuarteto">****</span>
                  <span class="cuarteto">****</span>
                </div>
                <div class="nomFecha">
                  <span class=nombre></span>
                  <span class="fecha"></span>
                </div>    
          </div>  
        </div>
     </div>
    
     <P>DATOS DE LA TARJETA</P>
  <!-- <form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate> 
        <ion-item>
            <ion-label position="stacked">Nombre del titular:</ion-label>
            <ion-input formControlName="titular" type="text"></ion-input>
          </ion-item>
          <div class = "error-messages" *ngIf="myForm.get('titular').errors && myForm.get('titular').dirty">
            <ng-container>
                <p color="danger" ion-text *ngIf="myForm.get('titular').hasError('required')">Campo requerido</p>
            </ng-container>            
          </div>

          <ion-item>
              <ion-label position="stacked">Número de tarjeta:</ion-label>
              <ion-input formControlName="numberCard" type="number" placeholder="XXXX-XXXX-XXXX-XXXX"></ion-input>
            </ion-item>
            <div class = "error-messages" *ngIf="myForm.get('numberCard').errors && myForm.get('numberCard').dirty">
              <ng-container>
                  <p color="danger" ion-text *ngIf="myForm.get('numberCard').hasError('required')">Campo requerido</p>
                  <p color="danger" ion-text *ngIf="myForm.get('numberCard').hasError('pattern')">Debe capturar 16 caracteres</p>
              </ng-container>            
            </div>
            <ion-item>
                <ion-label position="stacked">Fecha de vencimiento:</ion-label>
                <ion-datetime formControlName="vencimiento" display-format="MM/YYYY" min="2019" max="2025-12-31" placeholder="MM / YYYY"></ion-datetime> 
                   </ion-item>
              <div class = "error-messages" *ngIf="myForm.get('vencimiento').errors && myForm.get('vencimiento').dirty">
                <ng-container>
                    <p color="danger" ion-text *ngIf="myForm.get('vencimiento').hasError('required')">Campo requerido</p>
               </ng-container>            
              </div>

              <ion-item>
                  <ion-label position="stacked">Código de seguridad:</ion-label>
                  <ion-input formControlName="cvv" type="number" placeholder="(CVV)"></ion-input>
                </ion-item>
                <div class = "error-messages" *ngIf="myForm.get('cvv').errors && myForm.get('cvv').dirty">
                  <ng-container>
                      <p color="danger" ion-text *ngIf="myForm.get('cvv').hasError('required')">Campo requerido</p>
                      <p color="danger" ion-text *ngIf="myForm.get('cvv').hasError('pattern')">Máximo 4 caracteres</p>
                  </ng-container>            
                </div>

  <div class ="btn">
      <ion-button expand ="block" color ="primary" [disabled]="myForm.invalid" (click)="saveData()">Guardar</ion-button>
  </div>
  </form>--> 

  <ion-item>
      <ion-label position="stacked">Nombre del Cliente:</ion-label>
      <ion-input disabled type="text" size="20" autocomplete="on" name="client_name" (keyup)="getClient($event)"[(ngModel)]='usuario.nombre + " " + usuario.apellidoPat + " " +  usuario.apellidoMat'> </ion-input>
    </ion-item>

    <ion-item>
 
      <ion-label position="stacked">Correo Electr&oacute;nico:</ion-label>
      <ion-input disabled type="text" size="20" autocomplete="on" name="cliente_email"  (keyup)="getEmail($event)" [(ngModel)]='usuario.email'> </ion-input>
    </ion-item>
 

  

  <form method="POST" id="customer-form" [formGroup]="myForm" novalidate>
    <input type="hidden" name="token_id" id="token_id"/>

   
      <ion-item>
      <ion-label position="stacked">Nombre del titular:</ion-label>
      <ion-input formControlName="titular" type="text" autocomplete="off"   data-openpay-card="holder_name" ></ion-input>
      </ion-item>
      <div class = "error-messages" *ngIf="myForm.get('titular').errors && myForm.get('titular').dirty">
        <ng-container>
            <p color="danger" ion-text *ngIf="myForm.get('titular').hasError('required')">Campo requerido</p>
        </ng-container>            
      </div>

      <ion-item>
        <ion-label position="stacked">Número de tarjeta:</ion-label>
      <ion-input  formControlName="numberCard" autocomplete="off" data-openpay-card="card_number" type="number" placeholder="XXXX-XXXX-XXXX-XXXX"></ion-input>
      </ion-item>
      <div class = "error-messages" *ngIf="myForm.get('numberCard').errors && myForm.get('numberCard').dirty">
        <ng-container>
            <p color="danger" ion-text *ngIf="myForm.get('numberCard').hasError('required')">Campo requerido</p>
            <p color="danger" ion-text *ngIf="myForm.get('numberCard').hasError('pattern')">Debe capturar de 15 a 16 caracteres</p>
        </ng-container>            
      </div>
   
      <ion-item>
      <ion-label position="stacked">Código de seguridad (CVV2):</ion-label>
      <ion-input formControlName="cvv" type="number" size="4" autocomplete="off"  data-openpay-card="cvv2" type="number" placeholder="CVV2" ></ion-input>
    </ion-item>
    <div class = "error-messages" *ngIf="myForm.get('cvv').errors && myForm.get('cvv').dirty">
        <ng-container>
            <p color="danger" ion-text *ngIf="myForm.get('cvv').hasError('required')">Campo requerido</p>
            <p color="danger" ion-text *ngIf="myForm.get('cvv').hasError('pattern')">Máximo 4 caracteres</p>
        </ng-container>            
      </div>


    <p>
      <ion-label position="stacked" class = "fecha">Fecha de vencimiento (MM/YY):</ion-label>
      <input formControlName="vencimiento"  type="number" size="2" data-openpay-card="expiration_month" class = "venci"/> 
      <ion-label class = "tab">/</ion-label>
      <input formControlName="vencimiento"  type="number" size="2" data-openpay-card="expiration_year" class = "venci"/>
    </p>
    <div class = "error-messages" *ngIf="myForm.get('vencimiento').errors && myForm.get('vencimiento').dirty">
        <ng-container>
            <p color="danger" ion-text *ngIf="myForm.get('vencimiento').hasError('required')">Campo requerido</p>
            <p color="danger" ion-text *ngIf="myForm.get('vencimiento').hasError('pattern')">Máximo 2 caracteres</p>
       </ng-container>            
      </div>
  
 
   <!--  <input type="submit" id="save-button" value="Pagar"/>-->
   <div class ="btn">
   <ion-button [disabled]="myForm.invalid" (click)="pagar()" expand ="block" color ="primary" >Guardar</ion-button>
  </div>


</form>



 </ion-content>
