.contenido{
    padding: 10px 20px;
}

.parrafo{
    display: block;
    margin-bottom: 8px;
    font-size: 1em;
}

.sumador{
    margin: 30px auto 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.margen{
    margin-bottom: 65px;

}

.boton{
    height: 48.766px;
    --border-radius: 50%;
    --background: white;
    --color: black;
    --background-activated: #e6e6e6;
    --border-color: black;
    --color-activated: black;
}

.eliminar{
    margin: 20px auto 65px auto;
    display: block;
}


.agregar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.addBoton{
    margin: 0;
}