<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button (click)='salir()'></ion-back-button>
    </ion-buttons>
    <ion-title>Formas de Pago</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="iconbuscar" name='search' (click)="goBuscar()"></ion-icon>
      <ion-icon class="iconcarrito" name='cart' (click)="goCarrito()"></ion-icon>
   </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
    <h3>Mis tarjetas registradas</h3>
    <ion-list >
      <ion-item *ngFor="let tarjeta of tarjetas" id="{{tarjeta.id}}">
          <ion-thumbnail slot="start" class="thumbnail">
              <img src="/assets/img/card.jpg"  class="card">
          </ion-thumbnail>
        <ion-label>
            <h6 class=tituloLocal>{{tarjeta.card_number}}</h6>
            <p>{{tarjeta.brand}}</p>
            <p>Expira: {{tarjeta.expiration_month}}/{{tarjeta.expiration_year}}</p>
        </ion-label>
        <!--<ion-input type="text" [(ngModel)]='id_card'>{{tarjeta.id}}</ion-input>-->
        <ion-icon name ="trash" slot = "end" (click)= "deleteCardConfirm(tarjeta.id)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-item>
        <ion-icon class="alert" name="alert"></ion-icon>
      <div class="nada principal" *ngIf="tarjetas.length ==0">
      <ion-label class="tituloVacio">
        Aún no tienes tarjetas registradas
      </ion-label>
      </div>
  </ion-item>
  <ion-button  class="agregar"  fill = "clear" routerLink="/add-card">Agregar tarjeta de crédito y débito</ion-button>
</ion-content>
