<ion-header>
  <ion-toolbar class="toolbarBack" color="danger">
    <ion-title text-center >
     ¡Bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="logo">
  <img src="../../assets/img/EstoCuadro.png" alt="logo Estor">
</div>

  <h1 class="titulo">Ingresa con usuario y contraseña:</h1>
  
   <ion-item class="login">
      <ion-icon class = "iconinput" name="person"></ion-icon> 
      <ion-input class = "inplogin" #swiper (keyup)="enter($event)" [(ngModel)]="correo"  placeholder="Correo electronico"></ion-input>    
   </ion-item>    

  <div class="pass">
    <ion-item>  
      <ion-icon class = "iconinput" name="unlock"></ion-icon>    
      <ion-input class = "inplogin" (keyup)="enter($event)" [type]="passType" [(ngModel)]="password" placeholder="Contraseña" type="password"></ion-input>

    <ion-button class="eye" color="light" (click)="cambiarIcono()">
        <ion-icon slot="icon-only" name="{{icono}}"></ion-icon></ion-button> 
      </ion-item>
  </div> 

<ion-button class="botonEntrar"  expand ="block"  (click)="iniciar()">ENTRAR</ion-button>
<div class="botonRec">
    <a routerLink='/registro'>¿Olvidaste tu contraseña?</a>
    </div>


<div class="titulo2">
  <h2 class="linea"><span>Ó inicia sesión con:</span></h2> 
</div>


    <div class="redes">
    <ion-grid>     
        <ion-row>
            <ion-col offset="0">
                <img class ="imagen" src="/assets/img/fb.png" alt="Facebook" (click)="facebooklog();" > 
            </ion-col>
            <ion-col  offset="-3">
                <img class ="imagen" src="/assets/img/google.png" alt="Google" (click)="googleLogin();">
            </ion-col>
          </ion-row>
    </ion-grid>
  </div>

     <h3 class="registro">¿Aún no tienes cuenta? <a routerLink='/registro'>REGISTRATE</a> </h3>
</ion-content>
