.ubicacion{
    height: 30%;
    padding: 10px;
}

#mapa{
    height: 100%;
}

.telefono{
    display: flex;
    align-items: center;
}

.phoneIcono{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    grid-template-columns: 1fr 1fr;
}

.ventas{
    text-align: center;
}

