<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
    <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
    <h3>Ubicacion</h3>
    <p>Pino 219, Jardines de Irapuato</p>
    <div class="ubicacion">
      <div id="mapa"></div>
    </div>
    <div class="telefonos">
      <h3>Telefonos</h3>
      <div class="telefono">
        <ion-icon class="phoneIcono" name="call"></ion-icon>
        <p>462 153 10 01 Reparto</p>
      </div>
      <div class="telefono">
          <ion-icon class="phoneIcono" name="call"></ion-icon>
          <p>462 215 6190 Oficina</p>        
      </div>
    </div>
    <h3>Redes Sociales</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="/assets/img/facebook.png" alt="Facebook">

        </ion-col>
        <ion-col size="4">
          <img src="/assets/img/twitter.png" alt="Twitter">

        </ion-col>
        <ion-col size="4">
          <img src="/assets/img/instagram.png" alt="Instagram">

        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ventas">
      <p>!Te gustaria inscribir tu empresa o negocio, ventas@elestor.mx, estamos para servirte!</p>
    </div>
</ion-content>
