<ion-header >
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>-->
<!-- Barra de busqueda -->
<ion-searchbar (keyup.enter)="buscarEstore($event)" placeholder="Búsqueda por producto o negocio" ></ion-searchbar>

<ion-content>


<!--<ion-list >-->
    <div *ngIf="itemsflag" >
    <p class = "tit_res">Productos</p>
  </div>
		<ion-item *ngFor="let item of items" (click)='agregarProducto(item.id_producto)'>
    <ion-thumbnail slot="start" class="thumbnail">
          <img src="test.jpg" onError= "this.src='/assets/img/default_productos.png'">
      </ion-thumbnail>
      <div class="contenidoPlatillo">
      <ion-label>
          <h6 class=tituloPlatillo>{{item.nombre}}</h6>
          <p>{{item.descripcion}}</p>
      </ion-label>
      <div class="footerPlatillo">
        <p>${{item.precio}}.00 MXN</p>
        <ion-button fill="clear" slot="end" (click)='agregarProducto(item.id_producto)'>Ver Detalle</ion-button>
    </div>
  </div>
</ion-item>

  <div *ngIf="itemsflagNeg" >
    <p class = "tit_res">Negocios</p>
  </div>
  <ion-item *ngFor="let item of itemsNeg" (click)='menu(local.id_negocio)'>
    <ion-thumbnail slot="start" class="thumbnail">
      <img src="tests.png" onError= "this.src='/assets/img/default_negocio.png'" (click)='menu(local.id_negocio)' >
    </ion-thumbnail>
    <div class="contenidoLocal" (click)='menu(item.id_negocio)'>
      <ion-label>
        <h6 class=tituloLocal>{{item.nombre}}</h6>
        <p>{{item.colonia}} {{item.callenumero}}</p>
        <p>Horario: {{item.horaapertura}} - {{item.horacierre}}</p>
      </ion-label>
       <!--<ion-button fill="clear" slot="end" (click)='menu(local.id_negocio)' class = "menuver">Ver Menú</ion-button>-->
      <div class="footerLocal">
         <!-- <ion-button fill="clear" slot="end" (click)='menu(local.id_negocio)'>Ver Menú</ion-button>-->
 
          <div class="contenedorEstrellas">
            <ion-icon class="estrella" name='star'></ion-icon>
            <ion-icon class="estrella" name='star'></ion-icon>
            <ion-icon class="estrella" name='star'></ion-icon>
            <ion-icon class="estrella" name='star'></ion-icon>
            <ion-icon class="estrella" name='star'></ion-icon>
          </div>
        </div>
    </div>
</ion-item>

  <ion-item *ngIf="!items &&  !itemsNeg ">
      <p class = "tit_res">No hay resultados de la busqueda</p>
</ion-item>

 
</ion-content>
