<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>-->
<!-- Barra de busqueda -->
<ion-searchbar (ionChange)="buscarEstore($event)"  placeholder="Buscar opciones..." animated ></ion-searchbar>

<ion-list >
		<ion-item *ngFor="let item of items">
      <ion-label>
          {{item.nombre}}-{{item.foto}}
      </ion-label>
    </ion-item>
	</ion-list>


<ion-content>
 
</ion-content>
