.principal{
    height: 90%;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.ubicacion{
    display: flex;
    align-items: center;
}


#mapa3{
    height: 110px;
    width: 100%;
}

.titCalle{
    font-size: 1.2rem;
    color: black;
    margin-left: 15px;
}

.calleSec{
    font-size: 1rem;
    margin-left: 15px;

}

.direccion{
    margin-top: 10px;
}

.icono{
    font-size: 20px;
    margin-right: 15px;
}


.tituloVacio{
    display: inline-block;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 500;
    text-align: center;
    padding: 0 30px;
                       
}

.data{
    display: block;
}

.pedido{
    --ion-item-background: white;
    margin: 20px 0;
    box-shadow: none;
}

.titulo{
    font-size: 1.2rem;
    font-weight: normal;
}

.platillo{
    margin-bottom: 15px;
    --ion-item-background-activated: rgb(255, 255, 255);
}

.thumbnail{
    width: 90px;
    height: 90px;
}

.contenidoPlatillo{
    width: 100%;
}

.tituloPlatillo{
    font-size: 16px;
}

p{
    font-size: 13px;
    margin-top: 5px;
}

.precio{
    font-size: .9rem;
}

.costo{
    margin-top: 30px;
}

.costo div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.costo div span{
    font-size: 1rem;
}

.total{
    margin-top: 20px!important;
}

.total span{
    color: black;
    font-weight: 900;
}

.metPago{
    --padding-start: 0;
    margin-top: 25px; 
    border-top: 1px solid;
    --border-style: none;
}

.atras{
    margin-top: 15px;
}

