<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start" >
        <ion-back-button (click)='salir()'></ion-back-button>
      </ion-buttons>
      <ion-title>Mi Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <!--  <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>-->
  
    <div class="data principal" *ngIf="carrito.length != 0">
    <ion-card class="pedido">
      <ion-card-header>
        <div class="ubicacion">
          <div id="mapa3"></div>
          <div class="dirOpcion">
            <ion-label class="calle">
              <h6 class="titCalle">{{calle}}</h6>
              <p class="calleSec">{{calleSecundario}}</p>
            </ion-label>
            <div class="direccion">
              <ion-button fill="clear" (click)="ubicacion()">
                <ion-icon slot="start" class="icono" name="pin"></ion-icon>
                Cambiar ubicación
              </ion-button>  
              <ion-button fill="clear" (click)="ubicacionActual()">
                <ion-icon slot="start" class="icono" name="navigate"></ion-icon>
                Ubicación actual
              </ion-button>                    
            </div>
          </div>
        </div>
            <ion-card-title class="titulo">Tu pedido</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <ion-item class="platillo ion-activatable"  lines="none" *ngFor="let producto of carrito">
                  <ion-ripple-effect></ion-ripple-effect>
                  <ion-thumbnail slot="start" class="thumbnail">
                    <img src="/assets/img/enchiladas.jpg" onError= "this.src='/assets/img/default_productos.png'">
                  </ion-thumbnail>
                  <div class="contenidoPlatillo" (click)="editarProducto(producto.id_producto)">
                    <ion-label>
                      <h6 class=tituloPlatillo>{{producto.nombre}}</h6>
                      <p>{{producto.descripcion}}</p>
                      <p>Tiempo de preparacion: {{producto.tiempopreparacion}} Min.</p>
                    </ion-label>
                    <div>
                        <p class="precio"> {{producto.cantidadCarrito}} X ${{producto.precioCarrito}} MXN</p>
                    </div>
                  </div>
                  <ion-icon name ="trash" slot = "end" (click)="eliminar(producto.id_producto)"></ion-icon>
              </ion-item>
              
              <div class="costo">
                <div>
                  <span>Subtotal</span>
                  <span>${{subTotal.toFixed(2)}}</span>
                </div>
                <div>
                  <span>Costo de Envio</span>
                  <span>${{costEnvio}}.00</span>
                </div>
                <div class="total">
                  <span>Total</span>
                  <span>${{total.toFixed(2)}}</span>
                </div>
              </div>
              <ion-item class="metPago">
                <ion-label>Metodo de Pago</ion-label>
                <ion-select value="efectivo" [(ngModel)]="metPago">
                  <ion-select-option selected value="efectivo">Efectivo</ion-select-option>
                  <ion-select-option value="tarjeta">Terminal</ion-select-option>                  
                  <ion-select-option value="Pago en linea">Pago en linea</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button expand="full" (click)="pedido()">Confirmar Pedido</ion-button>
  </div>

  <div class="nada principal" *ngIf="carrito.length == 0">
      <ion-label class="tituloVacio">
        Aún no hay productos en el carrito
      </ion-label>

  </div>


  <!--<ion-buttons class="atras"> 
      <ion-button size='small' expand="full" fill="clear" class="boton" (click)='salir()'>Atrás</ion-button>
  </ion-buttons>-->

</ion-content>
