.pago{
    margin-bottom: 10px;
}

.card,.efectivo,.terminal,.online{
    width: 45px;
    height: 45px;
}

.card{
    color: #332c2cc2;
}

.efectivo{
    color: #6cdc0d;
}

.terminal{
    color: #7676f9;
}

.etiqueta {
padding-left: 15px;
//margin-top: 15px,
}

.mycard {
    padding-left: 63px;
    font-size: 14px;

    }


    .iconcarrito{
        width: 25px;
        height: 25px;
    }
    
    .iconbuscar{
        width: 25px;
        height: 25px;
    }
