<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Métodos de Pago</ion-title>
      <ion-buttons slot="end">
          <ion-icon class="iconbuscar" name='search' slot = "end"></ion-icon>
          <ion-icon class="iconcarrito" name='cart' slot = "end"></ion-icon>
       </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <img src="/assets/img/EstoCuadro.png" alt="logo estor" class='logoPrinipal'>
 
  <ion-list >
  <!--<div class="pago">
    <ion-item>
      <ion-icon class="card" name="card"></ion-icon>
      <ion-label class ="etiqueta"> Tarjeta Bancaria </ion-label>
      <ion-icon name="arrow-dropright-circle" slot="end" routerLink="/tarjetas"></ion-icon>
    </ion-item>
  </div>-->
  <div class="pago">
    <ion-item>
      <ion-icon class="efectivo" name="cash" ></ion-icon>
      <ion-label class ="etiqueta"> Efectivo </ion-label>     
      <ion-icon name="information-circle" slot="end" (click)="presentPopover($event)"></ion-icon>
    </ion-item>
  </div>
  <div class="pago">
     <ion-item> 
      <ion-icon class="terminal" name="wallet"></ion-icon>      
      <ion-label class ="etiqueta"> Terminal </ion-label>        
      <ion-icon name="information-circle" slot="end"  (click)="Terminal($event)"></ion-icon>
     </ion-item> 
  </div>
  <div class="pago">
    <ion-item> 
      <!--<ion-icon class="online" name="desktop"></ion-icon>      -->
      <ion-icon class="card" name="card"></ion-icon>
      <ion-label class ="etiqueta"> Pago en Linea  <p>Mis tarjetas registradas </p></ion-label>
      <ion-icon name="arrow-dropright-circle" slot="end" routerLink="/tarjetas"></ion-icon>
      <ion-icon name="information-circle" slot="end" (click)="PagoOnlineInfo($event)"></ion-icon>
    </ion-item>
  <!--  <ion-label class ="mycard"> Mis tarjetas registradas </ion-label>-->



  </div>
</ion-list>
  <ion-button fill = "clear" routerLink="/add-card">Agregar tarjeta de crédito y débito</ion-button>
  <ion-fab vertical="bottom" class="fab" horizontal="start" slot="fixed">
    <ion-fab-button class="faBoton" size="large" (click)="goCarrito()" translucent>
        <ion-icon class="iconoFab" name='cart'></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
