<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Política de Privacidad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1> Introducción</h1>
    <p>Cuando usas ElEstore, nos confías tu información. Nos
    comprometemos a no defraudar tu confianza. Para ello,
    empezamos por ayudarte a comprender nuestras prácticas
    de privacidad.</p>

    <p>Esta política describe la información que recopilamos, cómo
    la utilizamos y compartimos, así como las opciones que
    tienes en relación a la misma</p>

    <p>Última modificación: 21 de septiembre de 2017
    Fecha efectiva: 1 de noviembre de 2017</p>

   <p> Esta política, siempre y cuando no se indique lo
contrario a continuación, se aplica a cualquier
usuario de los servicios de Uber o de los de sus
asociados en cualquier parte del mundo, así como
a cualquier persona que se ponga en contacto con
Uber o le haga llegar información de algún otro
modo. Esto incluye a cualquiera que use los
servicios de Uber o de sus asociados para:</p>

<p>Solicitar o recibir transporte (pasajeros)
Ofrecer transporte de forma individual o a
través de empresas de transporte asociadas
(socios conductores)
Solicitar entregas de comida u otros artículos
(receptores de entrega)
Ofrecer servicios de entrega (socios de
entrega)
Cualquier otro usuario de los servicios de
Uber (incluidas las aplicaciones, sitios web y
API de Uber), así como cualquier persona
que se ponga en contacto con Uber o le haga
llegar información de algún otro modo,
excepto que esté sujeto a un aviso, acuerdo
o declaración de privacidad independiente.</p>

<p>Si vives en los Estados Unidos, el controlador de
los datos que Uber o sus asociados recopilan o
reciben de ti es:
Uber Technologies, Inc.
1455 Market Street
San Francisco, California, 94103
Si vives fuera de los Estados Unidos, el
controlador de los datos es:</p>
<p>Uber B.V.
Mr. Treublaan 7, 1097 DP
Amsterdam, the Netherlands</p>

<p>Uber recopila los siguientes tipos de información:
1. La información que proporcionas,
incluida la información facilitada al:
Crear o actualizar la cuenta de Uber, que
dependiendo de la ubicación y los servicios
de Uber usados puede incluir el nombre,
email, número de teléfono, nombre de
usuario y contraseña, dirección, información
bancaria o de pago, números de
identificación gubernamental, fecha de
nacimiento y fotografía
Facilitar información sobre el vehículo o el
seguro (para socios conductores)</p>

<p>Solicitar servicios a través de una aplicación
o sitio web Uber
Ponerse en contacto con Uber, incluyendo
casos de asistencia al cliente
Ponerse en contacto con otros usuarios de
Uber a través de nuestros servicios
Completar las encuestas que recibes de Uber
o en nombre de la empresa
Habilitar características que requieren el
acceso de Uber' a la libreta de direcciones o
al calendario</p>

<p>2. La información que se crea al usar nuestros
servicios,
lo que incluye:
Información de ubicación
Dependiendo de los servicios de Uber que
uses y las configuraciones de la aplicación o
permisos de tu dispositivo, Uber puede
recopilar la información de ubicación exacta
o aproximada tal como se determina a
través de la información del GPS, la
dirección IP y conexión Wi-Fi.
Si eres conductor o socio de entrega,
Uber recopila información de ubicación
mientras la aplicación Uber se ejecuta
en primer plano (la aplicación está
abierta y aparece en pantalla) o en
segundo plano (la aplicación está
abierta pero no aparece en pantalla).</p>

<p>Si eres pasajero, Uber puede
recopilar información de
ubicación cuando la aplicación
Uber se ejecuta en primer plano.
En determinadas zonas, Uber
también puede recopilar esta
información cuando la aplicación
Uber se ejecuta en segundo
plano si la configuración de la
aplicación o los permisos del
dispositivo permiten esta
recopilación</p>

<p>Uber recopile la información de
ubicación. No obstante, esto
puede afectar la funcionalidad
disponible de la aplicación Uber.
Por ejemplo, si no permites que
Uber recopile la información de
ubicación, tendrás que introducir
manualmente la dirección de
recogida. Además, la información
de ubicación se recopilará del
socio conductor durante el viaje,
incluso si no has permitido que
Uber la recopile.</p>

<p>Información de transacción
Recopilamos los detalles de transacción
relacionados con el uso de nuestros
servicios, incluyendo el tipo de servicio que
ha solicitado u ofrecido, la fecha y hora en el
que este se ofreció, el importe cobrado, la
distancia recorrida y otros detalles de
transacción relacionados. Adicionalmente, si
alguien usa tu código promocional, podemos
asociar tu nombre con esa persona.</p>

<p>Información del dispositivo
Información de preferencia y uso
Recopilamos información sobre la manera en
la que interactúas con nuestros servicios, las
preferencias expresadas y la configuración
elegida. En algunos casos lo hacemos a
través del uso de cookies, contadores de
visitas («pixel tags») y otras tecnologías
similares que crean y mantienen
identificadores únicos. Para saber más sobre
esta tecnologías, lee nuestro Resumen sobre
cookies.</p>

<p>Información del dispositivo
Podemos recopilar información sobre los
dispositivos que usas para acceder a
nuestros servicios, incluyendo el modelo de
dispositivo, el sistema operativo y su
versión, el software, los nombres de archivo
y su versión, los idiomas de preferencia, los
identificadores de dispositivo únicos
Información de registro
Al interactuar con nuestros servicios,
recopilamos los registros de servidor, que
pueden incluir información como la dirección
IP del dispositivo, la fecha y hora de acceso,
las características de la aplicación o las
páginas visitadas, los fallos de aplicación y
otra actividad de sistema, el tipo de
navegador y el sitio o servicio de terceros
que usabas antes de interactuar con
nuestros servicios.</p>

<p>Llamadas y mensajes de texto
Permitimos a los usuarios que se llamen o se
manden mensajes de texto los unos a los
otros a través de las aplicaciones Uber. Por
ejemplo, en algunos países permitimos que
los socios conductores y los pasajeros, así
como los socios y receptores de entrega, se
llamen o se manden mensajes sin publicar
sus números de teléfono. Para ofrecer este
servicio, Uber recibe algunos detalles
relativos a las llamadas o mensajes,
incluyendo la fecha y hora de la llamada o
mensaje, y el contenido del mismo. Uber
también puede utilizar esta información para
servicios de asistencia al cliente (incluyendo
la resolución de disputas entre usuarios), con
fines de seguridad y protección, y para usar
en analíticas.</p>

<p>Libreta de direcciones e información del
calendario
Si permites que la aplicación Uber tenga
acceso a la libreta de direcciones del
dispositivo, podemos recopilar nombres e
información de contacto de la libreta para
facilitar la interacción social a través de
nuestros servicios y para otros fines
descritos en esta declaración o en el
momento de consentimiento o recopilación.
Si permites que la aplicación Uber tenga
acceso al calendario del dispositivo,
recopilamos información como el título</p>

<p>z3. Información de otras fuentes
Aquí se incluyen:
Usuarios que realizan comentarios, como
valoraciones o felicitaciones.
Socios empresariales de Uber a través de los
que creas o accedes a la cuenta de Uber,
como por ejemplo proveedores de pagos,
servicios de redes sociales, servicios de
música por encargo o aplicaciones o sitios
web que usen las API de Uber o cuyas API
use Uber
Compañías aseguradoras (si eres socio
conductor o socio de entrega)
Proveedores de servicios financieros (si eres
socio conductor o de entrega)
Empresas de transporte asociadas (si eres un
socio conductor que usa nuestros servicios a
través de una cuenta asociada con dicha
empresa)
El titular de un perfil de Uber para Empresas
o UberFamilia que utilices
Fuentes públicas disponibles
Proveedores de servicios de marketing
Uber puede combinar la información recopilada de
estas fuentes con otra información de la que ya
disponga</p>

<p>Uber utiliza la información recopilada para los
siguientes fines, entre otros:</p>

<p>1. Ofrecer servicios y características
información para:
Permitir el transporte, entrega y otros
servicios
Procesar o facilitar los pagos para dichos
servicios
Ofrecer, obtener, proporcionar o facilitar
cobertura de seguros o soluciones
financieras relacionadas con nuestros
servicios
Habilitar características que permiten
compartir información con otras personas,
como por ejemplo al publicar una felicitación
sobre un socio conductor, recomendar Uber
a un amigo, dividir una tarifa o compartir la
hora estimada de llegada.</p>

Habilitar características para personalizar la
cuenta de Uber, como por ejemplo al crear
marcadores para tus lugares favoritos
Llevar a cabo operaciones internas
necesarias para ofrecer nuestros servicios,
incluyendo la resolución de problemas de
software y problemas de funcionamiento, la
investigación, prueba y análisis de datos, y
la supervisión y análisis de las tendencias de
actividad y uso.
2. Seguridad y protección
Utilizamos la información para ayudar a mantener
la seguridad, protección e integridad de nuestros
servicios. Por ejemplo, recopilamos información de
los dispositivos de los socios conductores para
identificar comportamientos de conducción
peligrosos, como la velocidad o las frenadas y
aceleraciones bruscas, y para sensibilizar a los
socios conductores sobre estos comportamientos.
Esto también incluye, por ejemplo, nuestra
característica de Verificación de ID en tiempo
real, que indica a los socios conductores que
compartan un selfie antes de conectarse. Esto
ayuda a garantizar que el socio conductor que usa
la aplicación se corresponde con la cuenta de Uber
que tenemos registrada, evitando fraudes.

Uber utiliza la información recopilada (incluyendo
las grabaciones de las llamadas de asistencia al
cliente después de avisar sobre ello y recibir el
consentimiento correspondiente) para ayudarte
cuando te pones en contacto con nuestros
servicios de asistencia al cliente, por ejemplo para:
Remitir tus preguntas al encargado de
asistencia al cliente apropiado
Investigar y tratar los problemas
Supervisar y mejorar nuestras respuestas de
asistencia al cliente
4. Investigación y desarrollo
Podemos utilizar la información recopilada para
pruebas, investigaciones, análisis y desarrollos de
producto. Esto nos permite mejorar y aumentar la
seguridad y protección de nuestros servicios,
desarrollar nuevas características y productos, y
facilitar la cobertura de seguros y soluciones
financieras relacionadas con nuestros servicios.
5. Comunicaciones entre los usuarios
Uber utiliza la información recopilada para
permitir las comunicaciones entre nuestros
usuarios. Por ejemplo, un socio conductor puede
mandar un mensaje o llamar a un pasajero para
confirmar una ubicación de recogida, o un
restaurante o socio de entrega puede llamar a un
receptor de entrega con información sobre su
pedido.
6. Comunicaciones de Uber
Uber puede utilizar la información recopilada para
ponerse en contacto contigo sobre productos,
servicios, promociones, estudios, encuestas,
noticias, actualizaciones y eventos. También puede
utilizar esta información para promocionar y
procesar concursos y sorteos, cumplir con los
premios correspondientes y brindarte anuncios y
contenidos relevantes sobre nuestros servicios y
los de nuestros socios empresariales. De la misma
forma, también puede utilizarla para informar
sobre elecciones, votaciones, referendos y otros
procesos de política.
Podemos utilizar la información recopilada para
investigar o abordar demandas o disputas
relacionadas con el uso de los servicios de Uber, o
en la medida en que lo permita la legislación
vigente.

Las cookies son pequeños archivos de texto
almacenados en el navegador o dispositivo por los
sitios web, aplicaciones, medios en línea y
anuncios. Uber utiliza las cookies y tecnologías
similares para fines como:
Autentificar usuarios
Recordar las preferencias y la configuración
del usuario
Determinar la popularidad del contenido
Entregar y medir la efectividad de las
campañas publicitarias
Analizar la tendencia y el tráfico del sitio y,
en general, entender los comportamientos en
línea y los intereses de las personas que
interactúan con nuestros servicios
También podemos permitir que otros proporcionen
servicios de medición y analítica de audiencia para
nosotros, publiquen anuncios en nuestro nombre a
través de Internet y que rastreen e informen sobre
los resultados de estos anuncios. Estas entidades
pueden usar cookies, balizas web, kits de
desarrollo de software (los SDK por sus siglas en
inglés) y otras tecnologías que sirvan para
identificar el dispositivo utilizado al visitar
nuestro sitio web y usar nuestros servicios, así
como al visitar otros sitios y servicios en línea.

las opciones que tienes relacionadas con estas
tecnologías.

Uber puede compartir la información recopilada:
1. Con otros usuarios
Por ejemplo, si eres pasajero, podemos
compartir el nombre, la valoración media de
pasajero dada por los socios conductores y
las ubicaciones de recogida o destino con los
socios conductores. Si compartes un
uberPOOL con otro pasajero, le
comunicaremos al otro pasajero tu nombre y
podrá ver tu ubicación de recogida o
destino.
Si eres socio conductor o socio de entrega,
compartiremos información con tus
pasajeros como, por ejemplo, el nombre y la
fotografía; la marca, el modelo, el color, el
número de matrícula y la fotografía de su
vehículo; localización; la puntuación media
proporcionada a través de las votaciones de
los pasajeros; y la información de contacto
(conforme a lo establecido en las leyes
aplicables). Si eliges completar un perfil del
conductor, también podemos compartir
cualquier tipo de información asociada con
dicho perfil, incluyendo información que
presentes y felicitaciones que pasajeros
anteriores han presentado sobre ti. El
pasajero o receptor de entrega también
recibirá un recibo que contenga determinada
información, como un desglose del importe
cobrado el nombre una fotografía el mapa
2. Cuando tú lo solicites
Esto incluye compartir información con:
Otras personas cuando lo solicites. Por
ejemplo, si lo solicitas, podemos compartir la
hora estimada de llegada y la ubicación con
un amigo o la información del viaje cuando
divides la tarifa con un amigo.
Socios empresariales de Uber. Por ejemplo, si
has solicitado un servicio a través de una
colaboración u oferta promocional hecha por
un tercero, Uber puede compartir la
información con estos terceros. Esto puede
incluir, por ejemplo, otras aplicaciones o
sitios web que se integran con nuestras API
o servicios, o aquellos con una API o servicio
con los que nos integramos, o socios
empresariales con los que Uber pueda
asociarse para ofrecer una promoción, un
concurso o un servicio especializado.
3. Con el público general cuando publiques
contenido en un foro público
Nos encanta escuchar a nuestros usuarios, incluso
a través de foros públicos como los blogs de Uber,
redes sociales, y determinadas características de
nuestra red. Cuando te comunicas con nosotros a
través de estos canales, dichas comunicaciones
pueden ser accesibles para el público.
4. Con el titular de cuentas de Uber que puedas
usar
Si usas un perfil asociado a otra parte, podemos
compartir la información del viaje con el titular de
dicho perfil. Esto ocurre, por ejemplo, si eres:
Un pasajero que usa el perfil de Uber para
Empresas de su jefe
Un socio conductor que usa una cuenta
propiedad de una empresa de transporte
asociada
Un pasajero que efectúa un viaje organizado
por un amigo o por un perfil familiar

2. Cuando tú lo solicites
Esto incluye compartir información con:
Otras personas cuando lo solicites. Por
ejemplo, si lo solicitas, podemos compartir la
hora estimada de llegada y la ubicación con
un amigo o la información del viaje cuando
divides la tarifa con un amigo.
Socios empresariales de Uber. Por ejemplo, si
has solicitado un servicio a través de una
colaboración u oferta promocional hecha por
un tercero, Uber puede compartir la
información con estos terceros. Esto puede
incluir, por ejemplo, otras aplicaciones o
sitios web que se integran con nuestras API
o servicios, o aquellos con una API o servicio
con los que nos integramos, o socios
empresariales con los que Uber pueda
asociarse para ofrecer una promoción, un
concurso o un servicio especializado.
3. Con el público general cuando publiques
contenido en un foro público
Nos encanta escuchar a nuestros usuarios, incluso
a través de foros públicos como los blogs de Uber,
redes sociales, y determinadas características de
nuestra red. Cuando te comunicas con nosotros a
través de estos canales, dichas comunicaciones
pueden ser accesibles para el público.
4. Con el titular de cuentas de Uber que puedas
usar
Si usas un perfil asociado a otra parte, podemos
compartir la información del viaje con el titular de
dicho perfil. Esto ocurre, por ejemplo, si eres:
Un pasajero que usa el perfil de Uber para
Empresas de su jefe
Un socio conductor que usa una cuenta
propiedad de una empresa de transporte
asociada
Un pasajero que efectúa un viaje organizado
por un amigo o por un perfil familiar

8. Con tu consentimiento
Uber puede compartir la información con terceros
que no sean los descritos en esta declaración si
recibimos tu consentimiento tras mandar una
notificación.

</ion-content>
