
.slide{
    margin: 0 10px;
}

.lugar{
    flex-direction: column;
}

.tituloLugar{
    margin: 20px;
}

.icono{
    width: 70px;
    height: 70px;
}

.titulo{
    font-size: 14px;
    margin: 10px 0;
}

.principal{
    margin-bottom: 80px;
}

