
.slide{
    margin: 0 10px;
}

.lugar{
    flex-direction: column;
}

.tituloLugar{
    margin: 20px;
    font-weight: bold;
    color: #6ba1d3;
}

.icono{
    width: 70px;
    height: 70px;
}

.titulo{
    font-size: 14px;
    margin: 10px 0;
    color: #6ba1d3;
    font-weight: bold;
}

.principal{
    margin-bottom: 80px;
}

.faBoton{
    width: 70px;
    height: 70px;
}

.iconoFab{
    width: 40px;
    height: 40px;
}

