.perfil{
    margin-bottom: 20px;
}

.perfil img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 25px auto 15px auto;
    display: block;
    box-shadow: 0px 0px 10px 0px #7979e8;
}

.perfil h6{
    text-align: center;
}

.menuBoton{
    margin: 5px 0;
}