<ion-menu side="start" 
          menuId="primerMenu"
          contentId='principal'
          type="overlay"
          (ionWillOpen)='actualizacion()'>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Mi Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
 

    <div class="perfil">
      <img class='fotoPerfil' id='perfil' [src]="fotografia" onError= "this.src='/assets/img/default.png'" alt="Foto de perfil">

      <h6>{{usuario.nombre}} {{usuario.apellidoPat}} {{usuario.apellidoMat}}</h6>
    </div>
    <ion-list>
      <ion-item class="menuBoton">
        <ion-button size="default" fill='clear'  (click)='inicio()'>
          <ion-icon name = "home" item-start></ion-icon> Inicio
        </ion-button> 
      </ion-item>
      <ion-item class="menuBoton"> 
          <ion-button size="default" fill='clear' (click)='perfil()'>
              <ion-icon name = "person" item-start></ion-icon> Mi Perfil
          </ion-button> 
      </ion-item>
      <ion-item class="menuBoton"> 
          <ion-button size="default" fill='clear' (click)='pedidos()'>
              <ion-icon name = "basket" item-start></ion-icon> Mis Pedidos
          </ion-button> 
      </ion-item>
      <ion-item class="menuBoton"> 
        <ion-button size="default" fill='clear' (click)='metodosPago()'>
            <ion-icon name = "logo-usd" item-start></ion-icon> Mis Métodos de Pago 
        </ion-button> 
    </ion-item>
      <ion-item class="menuBoton"> 
          <ion-button size="default" fill='clear' (click)='contacto()'>
              <ion-icon name = "mail" item-start></ion-icon> Contáctanos
          </ion-button> 
      </ion-item>
      <ion-item class="menuBoton"> 
          <ion-button size="default" fill='clear' (click)='soporte()'>
              <ion-icon name = "help-circle" item-start></ion-icon> Soporte
          </ion-button> 
      </ion-item>
      <ion-item lines="none" class="menuBoton"> 
          <ion-button size="default" fill='clear' (click)='logout()'>
              <ion-icon name = "log-out" item-start></ion-icon>  Cerrar Sesión
          </ion-button> 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>